body {
  background-image: url("https://sylvanamelens.com/corolla.jpg");
}
table {
  background-color:#222;
}

tr, th, td, a {

  color: #eee;
}

a:hover{
  color: #fff;
}

h1 {
  color: #fff;
}

.btn-gris {
  background-color: #bbb;
  color: #fff;
}
